.floatingToolDrawer {
    --tool-drawer-height: 32px;
    position: absolute;
    bottom: calc(2 * var(--drawer-bs-btn-padding-y) + var(--drawer-bs-btn-font-size) + 1rem);
    right: 1.5rem;
    height: var(--tool-drawer-height);
    z-index: 10;
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.moreToolsDrawer {
    --more-tools-drawer-width: 242px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 0;
    transform: scaleX(0) translateX(var(--more-tools-drawer-width));
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform-origin: right;
    transition: width 0.4s ease, opacity 0.4s ease, transform 0.4s ease;

    &.isOpen {
        width: var(--more-tools-drawer-width);
        opacity: 1;
        transform: scaleX(1) translateX(0px);
    }
}

.moreToolsDrawerButton {
    display: flex;
    justify-content: center;
    align-items: center;

    & i:first-child {
        transition: transform .1s ease-in-out;
    }

    &:hover i:first-child {
        transform: translateX(-2px);
    }

    &.isOpen *:nth-child(2) {
        display: none;
    }
}

.moreToolsDrawerIcon {
    transition: transform .4s ease;

    &.isOpen {
        rotate: 180deg;
    }
}

.floatingToolDrawer.isOpen {
    transform: translateY(-3.7rem);
}