.color-selector-swatch {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid var(--bs-border-color);
    cursor: pointer;
    box-shadow: inset 0px 1px 0 #ffffff5d,
        inset 0px -1px 0px #0000005d,
        1px 2px 2px 0px #00000076;

    transition: transform 0.1s ease-in-out;

    &:hover {
        transform: scale(1.1);
        box-shadow: inset 0px 1px 1px #ffffff5d,
            inset 0px -1px 1px #0000005d,
            1px 2px 3px 0px #000000a1;
    }

    &.selected {
        transform: scale(1.2);
        box-shadow: inset 0px 1px 1px #ffffff5d,
            inset 0px -1px 1px #0000005d,
            1px 2px 3px 0px #000000a1;
    }
}

.color-selector {
    --gap: .5rem;
    gap: var(--gap);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}