.draggable-event {
    --width: 9rem;
    cursor: move;
    display: flex;
    max-width: var(--width);
    min-width: var(--width);
    white-space: nowrap;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #ffffff;
    position: relative;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;

    &:hover {
        transform: scale(1.02);
    }
}

.draggable-event.is-selected {
    transform: scale(1.05);
}

.draggable-event .duration,
.draggable-event .title {
    padding: 0.2rem;
}

.draggable-event .duration {
    box-shadow: inset -1px 0px 1px #ffffff43;
}

.draggable-event .title {
    flex-grow: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    box-shadow: inset 1px 0px 1px #00000043;
}

.edit-template-button {
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 6px;
    background-color: var(--bs-body-bg);
    border: 1px solid var(--bs-border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}