.event-template-drawer {
    width: 100vw;
}

.event-template-drawer-content {
    height: 0px !important;
    padding: 0 !important;
    width: 100% !important;
}

.event-template-drawer.isOpen .event-template-drawer-content {
    max-height: calc(2 * var(--drawer-bs-btn-padding-y) + var(--drawer-bs-btn-font-size) + 2.5rem) !important;
    height: calc(2 * var(--drawer-bs-btn-padding-y) + var(--drawer-bs-btn-font-size) + 2.5rem) !important;
}

.event-template-drawer-container .btn-primary {
    --bs-btn-padding-x: var(--drawer-bs-btn-padding-x);
    --bs-btn-padding-y: var(--drawer-bs-btn-padding-y);
    --bs-btn-font-size: var(--drawer-bs-btn-font-size);
}

.event-template-drawer.isOpen .event-template-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin: auto;
    padding: calc(0.5rem + 2px) 0.5rem 0.5rem 0.5rem;
    overflow-y: hidden;
    overflow-x: scroll;
    border-right: 1px solid var(--bs-border-color);
    flex-grow: 1;
}

.event-template-drawer-container.isOpen .event-template-drawer .fc-event {
    white-space: nowrap;
}

.event-template-drawer-container.isEmpty .edit-templates-button {
    display: none;
}

.event-template-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: calc(0.5rem + 2px);
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.event-template-drawer.isOpen.isEmpty .event-template-buttons {
    margin: 0 !important;
}