.fcPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.fcPage .fc-header-toolbar {
    padding: 0;
    margin: 0 !important;
    height: 0;
    min-height: 0;
    max-height: 0;
    overflow: hidden;
}

.fcPage .calendar-container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    min-height: 1vh;
}

.fcPage .fc {
    min-height: 1vh;
    flex-grow: 1;
    --fc-button-bg-color: #c54141;
    --fc-button-text-color: #fff;
    --fc-button-border-color: #c54141;
    --fc-button-hover-bg-color: #a03c3c;
    --fc-button-hover-border-color: #a03c3c;
    --fc-button-active-bg-color: #8c3333;
    --fc-button-active-border-color: #8c3333;
    --fc-today-bg-color: rgba(255, 40, 40, 0.063);
    --fc-event-bg-color: #b74f4f;
    --fc-event-border-color: #b74f4f;
}

.fcPage .fc .fc-daygrid-body-natural .fc-daygrid-day-events {
    margin-bottom: 0.5rem;
}

.fcPage .calendar-nav-button {
    border: 1px solid var(--bs-border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.2rem;
    height: 100%;
    background-color: #fff;
}

.fcPage .calendar-nav-button:hover {
    background-color: #ececec;
    cursor: pointer;
}

.fcPage .calendar-left-button {
    border-right: none;
}

.fcPage .calendar-right-button {
    border-left: none;
}

.fcPage .fc-theme-bootstrap5 .fc-list,
.fcPage .fc-theme-bootstrap5 .fc-scrollgrid,
.fcPage .fc-theme-bootstrap5 td,
.fcPage .fc-theme-bootstrap5 th {
    border-color: var(--bs-border-color);
}

.fcPage .fc-event {
    border-radius: 6px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    outline: var(--bs-border-color) solid 1px;

    &:hover:not(.fc-event-past) {
        filter: brightness(1.1);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
        outline: var(--bs-border-color) solid 1.5px;
    }
}

.fcPage .fc-event-past {
    filter: saturate(0.4) brightness(1.4);
    box-shadow: none;

    &:hover {
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
        outline: var(--bs-border-color) solid 1.5px;
    }
}