.add-popover,
.add-template-popover {
    min-width: 580px;
    gap: 1.2rem;
}

.add-popover-date-input {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.add-popover-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}