.edit-popover,
.edit-template {
    min-width: 580px;
    gap: 1.2rem;
}

.edit-popover.isAllday {
    min-width: 358px;
}

.edit-popover-date-input {
    display: flex;
    gap: 0.5rem;
}

.edit-popover-quick-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit-popover-quick-actions .btn {
    max-height: 2.5rem;
}

.edit-popover-quick-actions .divider {
    height: 2rem;
    width: 1px;
    background-color: var(--bs-border-color);
}

.edit-popover-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.edit-popover-date-input {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.switch-template-left-button i,
.switch-template-right-button i {
    transition: transform 0.2s ease-in-out;
}

.switch-template-left-button:hover i {
    transform: translateX(-2px);
}

.switch-template-right-button:hover i {
    transform: translateX(2px);
}