.popover {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    height: 100%;
    background-color: var(--bs-body-bg);
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius-lg);
    gap: 0.5rem;
    box-shadow: 0 4px 4px #0000008f;
}

.react-datepicker-wrapper input {
    width: 18ch;
    text-align: center;
    outline: none;
    border: 1px solid var(--bs-border-color);
    border-radius: 6px;
    padding: 0.5rem;
}

.popover input[type="text"],
.popover textarea {}

.popover hr {
    margin: 1.2rem 0 0rem 0;
    border-color: var(--bs-border-color);
    opacity: 1;
    border-style: dashed;
}

.popover .form-control,
.popover .react-datepicker-wrapper input,
.popover textarea {
    box-shadow: 0 2px 2px #0000001b;
    background-color: var(--bs-body-bg);
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    padding: 0.5rem;

    &:hover {
        background-color: var(--bs-body-bg-hover);
    }

    &:focus {
        background-color: var(--bs-body-bg-active);
        outline-color: var(--accent-color);
        border-color: var(--accent-color);
    }
}

.popover .form-check-input {
    box-shadow: 0 2px 2px #0000001b;
    background-color: var(--bs-body-bg);
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    padding: 0.5rem;

    &:hover {
        background-color: var(--bs-body-bg-hover);
    }

    &:focus {
        outline-color: var(--accent-color);
        border-color: var(--accent-color);
    }

    &:checked {
        background-color: var(--accent-color);
        border-color: var(--bs-border-color);
    }
}