.popover {
    font-family: Fira Code, monospace;
    font-size: medium;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    height: 100%;
    background-color: var(--bs-body-bg);
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius-lg);
    gap: 0.5rem;
    box-shadow: inset 0px 2px 0 #c9c9c9bd,
        inset 0px -2px 0px #0000006e, 3px 4px 8px #000000af;
}

.react-datepicker-wrapper input {
    width: 21ch;
    text-align: center;
    outline: none;
    border: 1px solid var(--bs-border-color);
    border-radius: 6px;
    padding: 0.5rem;
}

.popover hr {
    margin: 1.2rem 0 0rem 0;
    border-color: var(--bs-border-color);
    opacity: 1;
    border-style: dashed;
}

.popover .form-control,
.popover .react-datepicker-wrapper input,
.popover textarea {
    box-shadow: 0 2px 2px #0000001b;
    background-color: var(--bs-body-bg);
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    padding: 0.5rem;

    &:hover {
        background-color: var(--bs-body-bg-hover);
    }

    &:focus {
        background-color: var(--bs-body-bg-active);
        outline-color: var(--accent-color);
        border-color: var(--accent-color);
    }
}

.popover textarea {
    min-height: 100px;
}

.popover .form-check {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: .5rem;
    line-height: 1.5rem;
}

.popover .form-check-input {
    box-shadow: 0 2px 2px #0000001b;
    background-color: var(--bs-body-bg);
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    padding: 0.5rem;

    &:hover {
        background-color: var(--bs-body-bg-hover);
    }

    &:focus {
        outline-color: var(--accent-color);
        border-color: var(--accent-color);
    }

    &:checked {
        background-color: var(--accent-color);
        border-color: var(--bs-border-color);
    }
}