.settings-popover {
    min-width: 600px;
    gap: 1.2rem;
    font-size: large;
    padding-bottom: 3rem;
}

.settings-popover-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.settings-popover-item {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-self: center;
    align-items: center;
}

.background-color-input {
    width: 1.5rem;
    height: 1.5rem;
    outline: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    box-shadow: 1px 2px 1px 0px #0000005d;
    border: none;
    padding: 0;
    cursor: pointer;
}

.reset-background-color-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--bs-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

#roundingValueInput {
    width: 4rem;
    padding: 2px;
}

.close-settings-btn {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 0;
    top: 0;

    & i {
        padding: 0;
        margin: 0;
        transition: transform 0.2s ease-in-out;
        line-height: 1.5rem;
    }

    &:hover i {
        transform: scale(1.2);
        transform-origin: center;
    }
}