.draggable-event {
    padding: 4px 8px;
    cursor: move;
    display: flex;
    max-width: 8rem;
    min-width: 8rem;
    white-space: nowrap;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}