.draggable-event {
    --width: 9rem;
    cursor: move;
    display: flex;
    max-width: var(--width);
    min-width: var(--width);
    white-space: nowrap;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.draggable-event .duration,
.draggable-event .title {
    padding: 0.2rem;
}

.draggable-event .duration {
    border-right: 1px solid black;
}

.draggable-event .title {
    flex-grow: 1;
}