.add-popover,
.add-template-popover {
    min-width: 500px;
}

.add-popover.isAllday,
.add-template-popover.isAllday {
    min-width: 358px;
}

.add-popover-date-input {
    display: flex;
    gap: 0.5rem;
}

.add-popover-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.color-swatch {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid var(--bs-border-color);
}

.color-menu {
    --swatch-amount: 4;
    --gap: 0.5rem;
    padding: var(--gap);
    display: flex;
    flex-direction: row;
    gap: var(--gap);
    min-width: calc(var(--swatch-amount) * 1.5rem + calc(var(--swatch-amount) + 1.2) * var(--gap));
    flex-wrap: wrap;
}

.react-datepicker-wrapper input {
    width: 100%;
    outline: none;
    border: 1px solid var(--bs-border-color);
    border-radius: 6px;
    padding: 0.5rem;
}