.edit-popover,
.edit-template {
    min-width: 600px;
    gap: 1rem;
}

.edit-popover hr,
.edit-template hr {
    margin: 0.8rem 0;
    border-color: black;
    opacity: 1;
}

.edit-popover.isAllday {
    min-width: 358px;
}

.edit-popover-date-input {
    display: flex;
    gap: 0.5rem;
}

.edit-popover-quick-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit-popover-quick-actions-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.edit-popover-quick-actions .btn {
    max-height: 2.5rem;
}

.edit-popover-quick-actions .divider {
    height: 2rem;
    width: 1px;
    background-color: var(--bs-border-color);
}

.edit-popover-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.edit-popover-date-input {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.react-datepicker-wrapper input {
    width: 100%;
    outline: none;
    border: 1px solid var(--bs-border-color);
    border-radius: 6px;
    padding: 0.5rem;
}