@import './CalendarEvents.css';

.calendar-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.calendar-page .fc-header-toolbar {
    padding: 0;
    margin: 0 !important;
    height: 0;
    min-height: 0;
    max-height: 0;
    overflow: hidden;
}

.calendar-container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    min-height: 1vh;
}

.calendar-page .fc {
    min-height: 1vh;
    flex-grow: 1;
    --fc-button-bg-color: #c54141;
    --fc-button-text-color: #fff;
    --fc-button-border-color: #c54141;
    --fc-button-hover-bg-color: #a03c3c;
    --fc-button-hover-border-color: #a03c3c;
    --fc-button-active-bg-color: #8c3333;
    --fc-button-active-border-color: #8c3333;
    --fc-today-bg-color: rgba(255, 40, 40, 0);
    --fc-event-bg-color: #b74f4f;
    --fc-event-border-color: #b74f4f;
    user-select: none;
}

.calendar-page .fc-timegrid-now-indicator-line.CustomNowIndicator {
    border-width: 2px 0 0;
    border-radius: 8px;
}

.calendar-nav-button {
    --height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: var(--height);
    position: absolute;
    top: calc(50vh - var(--height) / 2);
    bottom: calc(50vh - var(--height) / 2);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    &:hover {
        opacity: 1;
    }

    &.right {
        right: 0rem;
        background-image: linear-gradient(to right, transparent, var(--bs-body-bg));
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

        &:hover i {
            animation: signify-right 0.7s ease-in-out;
        }
    }

    &.left {
        left: 0rem;
        background-image: linear-gradient(to left, transparent, var(--bs-body-bg));
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;

        &:hover i {
            animation: signify-left 0.7s ease-in-out;
        }
    }
}

.calendar-page .fc-theme-bootstrap5 .fc-list,
.calendar-page .fc-theme-bootstrap5 .fc-scrollgrid,
.calendar-page .fc-theme-bootstrap5 td,
.calendar-page .fc-theme-bootstrap5 th {
    border-color: var(--bs-border-color);
}

.calendar-page .fc .fc-timegrid-slot-minor {
    border-top-style: none;
}

.calendar-page .fc .fc-timegrid-slot-label.night {
    background-color: #dce4fe;
}

.calendar-page .fc .fc-timegrid-slot-label:not(.night) {
    background-color: #fef7dc;
}

.calendar-page .fc .fc-timegrid-slot-label.fc-timegrid-slot-minor {
    font-size: 0.6rem;
    text-align: center;
    font-style: italic;
}