@import '../components/CalendarEvents.css';

.calendar-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

.calendar-page .fc-header-toolbar {
    padding: 0;
    margin: 0 !important;
    height: 0;
    min-height: 0;
    max-height: 0;
    overflow: hidden;
}

.calendar-container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    min-height: 1vh;
}

.calendar-page .fc {
    min-height: 1vh;
    flex-grow: 1;
    user-select: none;
}

.calendar-page .fc-timegrid-now-indicator-line.CustomNowIndicator {
    border-width: 3px 0 0;
    border-radius: 8px;
    border-color: var(--fc-now-indicator-color);

    &::after {
        content: '';
        --size: 0.6rem;
        position: absolute;
        top: calc(var(--size) * -0.5 - 0.1rem);
        left: -0.5px;
        width: var(--size);
        height: var(--size);
        border-radius: 8px;
        border: 1px solid transparent;
        box-shadow: inset 0px 1px 0 #c9c9c9bd,
            inset 0px -1px 0px #00000031;
        background-color: var(--fc-now-indicator-color);
    }
}

.calendar-page .fc-timegrid-now-indicator-arrow.CustomNowIndicator {
    background-color: var(--fc-now-indicator-color);
    border-radius: var(--bs-border-radius-lg);
    border: 1px solid transparent;
    box-shadow: inset 0px 1px 0 #c9c9c9bd,
        inset 0px -1px 0px #00000031, 2px 2px 4px #0000005c;
    padding: none;
    width: 4rem;
    height: 1.1rem;
    left: 2px;
    color: white;
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.1rem;
}

.calendar-nav-button {
    --height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: var(--height);
    position: absolute;
    top: calc(50vh - var(--height) / 2);
    bottom: calc(50vh - var(--height) / 2);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    &:hover {
        opacity: 1;
    }

    &.right {
        right: 0rem;
        background-image: linear-gradient(to right, transparent, var(--bs-body-bg));
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

        &:hover i {
            animation: signify-right 0.7s ease-in-out;
        }
    }

    &.left {
        left: 0rem;
        background-image: linear-gradient(to left, transparent, var(--bs-body-bg));
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;

        &:hover i {
            animation: signify-left 0.7s ease-in-out;
        }
    }
}

.calendar-page .fc .fc-timegrid-divider {
    padding: 0;
}

.calendar-page .fc-theme-bootstrap5 .fc-list,
.calendar-page .fc-theme-bootstrap5 .fc-scrollgrid,
.calendar-page .fc-theme-bootstrap5 td,
.calendar-page .fc-theme-bootstrap5 th {
    border-color: var(--bs-border-color);
}

.calendar-page .fc .fc-timegrid-slot-minor {
    border-top-style: none;
}

.calendar-page .fc .fc-timegrid-slot-label.night {
    background-color: #dce4fe;
}

.calendar-page .fc .fc-timegrid-slot-label:not(.night) {
    background-color: #fef7dc;
}

.calendar-page .fc .fc-timegrid-slot-label.fc-timegrid-slot-minor {
    font-size: 0.6rem;
    text-align: center;
    font-style: italic;
}