@import './fonts.css';

body {
  margin: 0;
}


.btn {
  box-shadow: var(--bs-btn-box-shadow) !important;
  gap: var(--bs-btn-gap);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-group {
  gap: 1px;
  box-shadow: 1px 2px 1px 0px #0000005c;
  border-radius: var(--bs-border-radius-lg);
}

.btn-group .btn-primary:not(:first-child, :last-child) {
  border-left-color: var(--bs-group-btn-border-color);
  border-right: none;
}

.btn-group .btn-primary:last-child {
  border-left-color: var(--bs-group-btn-border-color);
}

.btn-group .btn-primary:first-child {
  border-right: none;
}

@keyframes signify-up {
  0% {
    transform: translateY(0);
  }

  45% {
    transform: translateY(-1px);
  }

  55% {
    transform: translateY(-1px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes signify-down {
  0% {
    transform: translateY(0);
  }

  45% {
    transform: translateY(1px);
  }

  55% {
    transform: translateY(1px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes signify-right {
  0% {
    transform: translateX(0);
  }

  45% {
    transform: translateX(1px);
  }

  55% {
    transform: translateX(1px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes signify-left {
  0% {
    transform: translateX(0);
  }

  45% {
    transform: translateX(-1px);
  }

  55% {
    transform: translateX(-1px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes signify-right-rotate {
  0% {
    transform: rotate(0);
  }

  45% {
    transform: rotate(20deg);
  }

  55% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(0);
  }
}