@import './fonts.css';

:root,
[data-bs-theme=light] {
  --bs-body-bg: hsl(88, 32%, 92%);
  --bs-body-bg-hover: hsl(89, 30%, 85%);
  --bs-body-bg-active: hsl(89, 30%, 75%);
  --bs-border-color: hsl(0, 0%, 45%);
  --bs-dropdown-border-color: var(--bs-border-color);
  --accent-color: hsl(145, 40%, 50%);
  --bs-btn-color: #fff;
  --bs-btn-bg: hsl(145, 40%, 50%);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: hsl(145, 51%, 40%);
  --bs-btn-focus-shadow-rgb: 95, 203, 126;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: hsl(145, 51%, 36%);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #69a776;
}

.btn {
  --bs-btn-border-width: 1px;
  --bs-btn-gap: 0.4rem;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-border-color: transparent;
  --bs-btn-disabled-border-color: black;
  --bs-btn-box-shadow: inset 0px 1px 0 #ffffff5d, inset 0px -1px 0px #0000005d, 1px 2px 1px 0px #0000005c;
  --bs-btn-border-radius: var(--bs-border-radius-lg);
}

.btn-primary {
  --accent-color: hsl(145, 40%, 50%);
  --bs-btn-color: #fff;
  --bs-btn-bg: hsl(145, 40%, 50%);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: hsl(145, 51%, 40%);
  --bs-btn-focus-shadow-rgb: 95, 203, 126;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: hsl(145, 51%, 36%);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #69a776;
}

.btn-group {
  --bs-group-btn-border-color: hsl(145, 51%, 36%);
}

.btn-group .btn-primary:not(:first-child, :last-child) {
  --bs-btn-box-shadow: inset 0px 1px 0 #ffffff5d,
    inset 0px -1px 0px #0000005d;
}

.btn-group .btn-primary:last-child {
  --bs-btn-box-shadow: inset 0px 1px 0 #ffffff5d,
    inset 0px -1px 0px #0000005d;
}

.btn-group .btn-primary:first-child {
  --bs-btn-box-shadow: inset 0px 1px 0 #ffffff5d,
    inset 0px -1px 0px #0000005d;
}

.btn-group .btn-primary.active,
.btn-primary.active {
  --bs-btn-box-shadow: inset 1px 1px 2px #0000005d, inset -1px -1px 2px #0000005d;
}