@import './fonts.css';

:root,
[data-bs-theme=light] {
  --fc-now-indicator-color: #e44545;

  --fc-button-bg-color: #c54141;
  --fc-button-text-color: #fff;
  --fc-button-border-color: #c54141;
  --fc-button-hover-bg-color: #a03c3c;
  --fc-button-hover-border-color: #a03c3c;
  --fc-button-active-bg-color: #8c3333;
  --fc-button-active-border-color: #8c3333;
  --fc-today-bg-color: rgba(255, 40, 40, 0);
  --fc-event-bg-color: #b74f4f;
  --fc-event-border-color: #b74f4f;

  --bs-body-bg: hsl(88, 32%, 92%);
  --bs-body-bg-hover: hsl(89, 30%, 85%);
  --bs-body-bg-active: hsl(89, 30%, 75%);
  --bs-border-color: hsl(240, 5%, 72%);
  --bs-dropdown-border-color: var(--bs-border-color);
  --accent-color: hsl(145, 40%, 50%);
  --bs-btn-color: #fff;
  --bs-btn-bg: hsl(145, 40%, 50%);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: hsl(145, 51%, 40%);
  --bs-btn-focus-shadow-rgb: 95, 203, 126;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: hsl(145, 51%, 36%);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #69a776;

  --bs-blue: #324ad2;
  --bs-indigo: #3610f2;
  --bs-purple: #6935c9;
  --bs-pink: #d63384;
  --bs-red: rgb(201, 61, 61);
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #218940;
  --bs-teal: rgb(41, 182, 107);
  --bs-cyan: #176dee;
  --bs-black: #000;
  --bs-gray-700: #495057;
  --bs-danger: #dc3545;
}

.btn {
  --bs-btn-border-width: 1px;
  --bs-btn-gap: 0.4rem;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-border-color: transparent;
  --bs-btn-disabled-border-color: black;
  --bs-btn-box-shadow: inset 0px 1px 0 #ffffff5d, inset 0px -1px 0px #0000005d, 1px 2px 1px 0px #0000005c;
  --bs-btn-border-radius: var(--bs-border-radius-lg);
}

.btn-primary {
  --accent-color: hsl(145, 40%, 50%);
  --bs-btn-color: #fff;
  --bs-btn-bg: hsl(145, 40%, 50%);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: hsl(145, 51%, 40%);
  --bs-btn-focus-shadow-rgb: 95, 203, 126;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: hsl(145, 51%, 36%);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #69a776;
}

.btn-group {
  --bs-group-btn-border-color: hsl(145, 51%, 36%);
}

.btn-group .btn-primary:not(:first-child, :last-child) {
  --bs-btn-box-shadow: inset 0px 1px 0 #ffffff5d,
    inset 0px -1px 0px #0000005d;
}

.btn-group .btn-primary:last-child {
  --bs-btn-box-shadow: inset 0px 1px 0 #ffffff5d,
    inset 0px -1px 0px #0000005d;
}

.btn-group .btn-primary:first-child {
  --bs-btn-box-shadow: inset 0px 1px 0 #ffffff5d,
    inset 0px -1px 0px #0000005d;
}

.btn-group .btn-primary.active,
.btn-primary.active {
  --bs-btn-box-shadow: inset 1px 1px 2px #0000005d, inset -1px -1px 2px #0000005d;
}